#footer {
  background: #e6e6e6;
  padding-top: unset !important;
  margin-top: unset !important;
}
#footer a {
  color: #000000;
}
#footercontainer {
  padding: 0 10px;
  border-top:4px solid #f9a11b;
}
.footertext .mb-4,
.my-4 {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  font-size: 18px;
  font-family: Myriad Pro regular;
  color: #333;
}
.list-unstyled{
  margin-bottom:10px
}
#footerfirstcolumn {
  padding-left: unset !important;
}
#handphone {
  font-size: 18px !important;
  color: #f9a11b !important;
}
#footercontainer .list-unstyled > li a {
  font-family: Myriad Pro regular;
  font-size: 12px;
  color: #333333;
  line-height: 180%;
}
.footercenter{
  padding:0 10px;
}

#footer-copyright {
  background-color: #f9a11b;
  font-size: 14px;
  padding: 4px 10px !important;
}

@media screen and (max-width: 1024.98px) {
  .fake {
    max-width: unset;
    flex: unset;
  }
  .fakerow {
    max-width: 100%;
    flex: unset;
  }
}

@media screen and (max-width: 768px) {
  #footercontainer {
    padding: 0 20px;
  }
  .last {
    margin-bottom: 15px;
  }
  .rowfootercss {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .footercenter {
    width: 50%;
    display: inline-block;
  }
  .footertext {
    display: inline-block;
    width: 50%;
    text-align: left;
  }
  .las .list-unstyled {
    margin-right: 0px;
  }
  .row .w-100 {
    width: unset !important;
  }
 
}
@media screen and (max-width: 768px){

}
