.headerpic {
  height: 27.5px;
  transition: height 0.8s linear;
  background-image: url("../img/pic1.jpg");
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: top center;
}

#navbar {
  margin-top: 0px;
  padding: unset;
  transition: margin 0.8s linear;
  background: #f9a11b;
}
#containerheader {
 padding: 0 10px;
}
.logodiv {
  position: relative;
}
.nav-item {
  padding-bottom: unset !important;
}
.nav-link {
  padding-bottom: 1rem !important;
}
.rowcss {
  width: 100%;
}
.nav-link {
  font: 15px/1.2 "Oswald", sans-serif;
}
.ulclassheader {
  width: 100%;
  padding-right: unset;
}
.colreset {
  padding-left: unset;
  padding-right: unset;
}
.nav-link {
  background-size: 0% 4px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right top,
    #010305,
    #01080a,
    #010d0c,
    #06110a,
    #0f1307
  );
  background-position: bottom;
  color: #ffffff;
  transition: all 0.2s linear;
}
.navactive {
  background-size: 100% 5px;
  color: #333333;
}
.nav-link:hover {
  background-size: 100% 5px;
  color: #333333;
}
.navbar-toggler-icon {
  position: relative;
}
.line1 {
  width: 1.5em;
  height: 2.5px;
  background: #ffffff;
  display: block;
  position: absolute;
  top: 20%;
  transition: all 0.4s linear;
}
.line2 {
  width: 1.5em;
  height: 2.5px;
  background: #ffffff;
  display: block;
  position: absolute;
  top: 50%;
  transition: all 0.4s linear;
}
.line3 {
  width: 1.5em;
  height: 2.5px;
  background: #ffffff;
  display: block;
  position: absolute;
  top: 50%;
  transition: all 0.4s linear;
}
.line4 {
  width: 1.5em;
  height: 2.5px;
  background: #ffffff;
  display: block;
  position: absolute;
  top: 80%;
  transition: all 0.4s linear;
}
.closss {
  transform: rotate(140deg);
  border-radius: 10px;
}
.closss1 {
  transform: rotate(-140deg);
  border-radius: 10px;
}
.closss2 {
  opacity: 0;
}

#translate {
  padding: 7px 22px 10px 22px;
  text-align: center;
}
#translate a:hover {
  text-decoration: unset;
}

#text {
  display: none;
  color: #ffffff;
  font-size: 16px;
}
#text:hover {
  text-decoration: none;
}
@media screen and (max-width: 1024.98px) {
  .logodiv {
    max-width: 100%;
    flex: unset;
  }
  .ulclassheader {
    max-width: 100%;
    flex: unset;
  }
  .navbar-toggler {
    border: 1px solid #ffffff;
  }
}
@media screen and (max-width: 767.87px) {
  .navactive {
    background: #000000;
    color: #e6e6e6 !important;
  }
  .alalal{
    margin-bottom: 10px;
  }
  .headerpic {
    height: 27.5px;
    transition: height 0.8s linear;
  }
  #navbar {
    margin-top: 0px;
    transition: margin 0.8s linear;
  }
  #containerheader {
    max-width: 100%;
    padding:0px ;
  }
  .logodiv {
    position: unset;
    width: unset;
    margin-left: 10px !important ;
  }
  .navbar-brand {
    position: unset;
    margin-left: auto !important;
  }
  .rowcss {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .nav-item {
    padding-left: unset;
    padding-right: unset;
    text-align: center;
    width: 100%;
  }
  .navbar-toggler {
    margin-right: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .nav-link {
    width: 100%;
  }
  .navbar-text {
    padding-top: unset;
    padding-bottom: unset;
  }
  .nav-link {
    padding: 10px 0 !important;
  }
  #Tyre-tab,#Rim-tab,#Accessories-tab{
    padding:10px !important;
  }
  .nav-link:hover {
    background: #000000;
    color: #e6e6e6 !important;
    transition: background 0.5s ease;
  }
}
/* tabs css */
/* .tabcolor {
  background: #e9e9e9;
} */
.tabss {
  background-size: 0% 4px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right top,
    #010305,
    #01080a,
    #010d0c,
    #06110a,
    #0f1307
  );
  background-position: bottom;
  color: #ffffff;
  transition: all 0.2s linear;
}
.tabss:hover {
  border-color: #333333 !important;
}
.myTabContent {
  text-align: center;
  min-height: 320px;
  background-image: url("../img/service-background.jpg");
  background-size: cover;
  /* background: #ffffff; */
}
.nav-link.active {
  background: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
  color: #333333 !important;
}
.focustab{
  background:#e6e6e6;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.focustab .tabss{
 color:#333333;
}
#myTab {
  margin-top: 0px;
  padding: unset;
  transition: margin 0.8s linear;
  background: #f9a11b;
}
.window{
  position: absolute;
  z-index: 1000;
  width: 100%;
}
