body {
  font: 14px/2 "Open sans",sans-serif;
  letter-spacing: 0.05em;
}

.button {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}
.button::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
  z-index: 1;
  opacity: 0;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}
.button::after {
  transition: border 0.1s linear 0.05s;
}
.button .btn-inner {
  position: relative;
  z-index: 2;
}
.button:hover {
  color: #373737;
  transition: color 0.1s linear 0s;
}
.button:hover::before {
  top: 0;
  height: 100%;
  opacity: 1;
  transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}
.button:hover::after {
  border-color: #373737;
  transition: border 0.1s linear 0s;
}

/*---------------------------------------------first slide show---------------------------------------------*/
.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 40vh;
  z-index: 1;
  max-height: 800px;
}
.slideshow .slideshow-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slideshow .slide {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.slideshow .slide.is-active {
  display: block;
}
.slideshow .slide.is-loaded {
  opacity: 1;
}
.slideshow .slide .caption {
  padding: 0 100px;
}
.slideshow .slide .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  z-index: 1;
  background-size: cover;
  image-rendering: optimizeQuality;
}
.slideshow .slide .image-container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow .slide .image {
  width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.slideshow .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow .slide .title {
  margin: 0 auto 15px;
  max-width: 1000px;
  font: 300 50px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}
.slideshow .slide .text {
  margin: 0 auto;
  max-width: 1000px;
  font-size: 18px;
  line-height: 1.4;
}
.slideshow .slide .button {
  margin: 15px 0 0;
  border-color: #fff;
}
.slideshow .slide .button::before {
  background: #fff;
}
.slideshow .pagination {
  position: absolute;
  bottom: 35px;
  left: 0;
  width: 100%;
  height: 12px;
  cursor: default;
  z-index: 2;
  text-align: center;
  justify-content: center;
}
.slideshow .pagination .item {
  display: inline-block;
  padding: 15px 5px;
  position: relative;
  width: 46px;
  height: 32px;
  cursor: pointer;
  text-indent: -999em;
  z-index: 1;
}
.slideshow .pagination .item + .page {
  margin-left: -2px;
}
.slideshow .pagination .item::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 5px;
  width: 36px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease;
}
.slideshow .pagination .item::after {
  width: 0;
  background: #fff;
  z-index: 2;
  transition: width 0.2s ease;
}
.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
  background-color: #fff;
}
.slideshow .arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.slideshow .arrows .prev {
  left: 30px;
}
.slideshow .arrows .prev:hover .svg {
  left: -10px;
}
.slideshow .arrows .next {
  right: 30px;
}
.slideshow .arrows .next:hover .svg {
  left: 10px;
}
.slideshow .arrows .svg {
  position: relative;
  left: 0;
  width: 14px;
  height: 26px;
  fill: #fff;
  transition: left 0.2s ease;
}



/* body{
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
} */
.collapse .show{
  transition: all 0.6s linear;
  width:100%;
  text-align: -webkit-center;
}
.window .card{
  background:none;
}
.collapse .card .tabcolor {
  padding-top:60px !important;
  transition: all 0.6s linear;
  width:100%;
  background: rgba(197,190,190,0%);
}
.vehicle{
  position: absolute;
  z-index:1000;
  width: 100%;
}
.vehicle .card{
  margin-left:0;
  margin-right:0;
  padding:0;
  margin:0;
  border:none;
  background:none;
}

#imgTitle{
  min-height:0px;
}
h1 {
  font-family: Myriad Pro semibold;
  font-size: 30px;
}

h4 {
  font-family: Myriad Pro semibold;
  font-size: 16px;
  color: #f5a131;
}

p {
  font-family: Myriad Pro regular;
  font-size: 12px;
  margin: 0;
  /*padding-top: 3px;*/
}

.carousel-inner h1 {
  font-size: 650%;
}

/*---------------------------------------------second slide show---------------------------------------------*/
.carousel-control-prev {
  left: -6%;
}

.product-slide{
  background: linear-gradient(to bottom,#000 0,#000 20%,#363636 40%,#000 80%,#000 100%);
}

.product-slide .slideshow{
  width: 85%;
  margin: 0px 8%;
  height:500px !important;
}

/*.product-slide-content{*/
  /*margin: 30px 0px;*/
/*}*/

.item .card{
  background-color: transparent;
  color: aliceblue;
}

.item .card:hover{
  transform: scale(1.1);
  background-color: #363636;
}

.card-body .active-content{
  visibility: hidden;
}

.card-body .active-content button{
  position: absolute;
  top: 110px;
  left: 57px;
}

.content-text{
  visibility: visible !important;
}

.owl-carousel .owl-item img{
  max-height: 198px !important;
}

/*---------------------------------------------seach area---------------------------------------------*/
.search {
  width: 100%;
  height: 40px;
  margin: 0;
  background-color: #c5bebeb5;
  border-color: #c5bebeb5;
  opacity: 1;
  position: absolute;
  z-index: 2000;
  box-shadow: 0px 1px 0px 0px #c5bebeb5;
  text-align: center;
}
.btnmargin{
  margin-right:-15px;
}

.search h5 {
  margin-top: 7px;
  float: left;
}

.btn {
  pointer-events: none;
}
.btn-secondary {
  pointer-events: initial;
  background-color: orange !important;
  border-radius: 100px;
}
.btn-secondary:hover {
  color: black;
  background-color: orange;
  border-color: #c5bebe00;
}

.btn-secondary:active {
  border-color: #c5bebe00 !important;
  color: black;
  background: orange !important;
  border-radius: 100px;
}

#title img {
  margin: 11px 8px;
}

#type {
  display: none;
}

.type-wrap {
  width: 100%;
}

.vihicle {
  margin-left: 15%;
  float: left;
}

.size {
  margin-right: 15%;
  float: right;
}

.dash {
  position: absolute;
  left: 50%;
}

.btn-secondary,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary.dropdown-toggle {
  color: black;
  background-color: #c5bebe00;
  border-color: #c5bebe00;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.vihicle:hover .dropdown .dropdown-menu {
  background-color: #c5bebeb5;
  display: block;
  transform: translate3d(-30%, 0px, 0px);
  z-index: 3000;
}

.size .dropdown:hover .dropdown-menu {
  background-color: #c5bebeb5;
  display: block;
  transform: translate3d(-30%, 0px, 0px);
  z-index: 3000;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #f8f9fa00 !important;
}

.dropdown p {
  margin-top: 6px;
  font-size: 1rem;
  padding: 3px;
}

.carousel-caption {
  right: 73%;
  padding-bottom: 372px;
}

@media (min-width: 768px) {
  .maintain {
    width: 100%;
    max-width: 180px;
  }
  .vihicle .submit button {
    width: 100%;
    max-width: 150px;
  }
  .size .submit button {
    width: 100%;
    margin-top: 20px;
  }

  .size .maintain {
    width: 100%;
  }

  .size img {
    visibility: visible !important;
    width: unset;
  }
}

.vihicle form {
  display: contents !important;
}

select {
  background-color: #ffffff;
  border-radius: 7px;
}

.submit {
  margin-top: 26px;
}

.submit button {
  background-color: #ffffff;
  border-radius: 7px;
}

.size img {
  visibility: hidden;
  width: 100%;
}

.item-wrapper {
  /* width: 300px; */
  /* height: 400px; */
}

.carousel-item img {
  height: 100%;
  min-height: 300px;
}

#myTable{
  background-color: white;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 70%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

caption {
    padding-left: 49px;
}

#imgTitle{
    /*position: absolute;*/
    /*top: 81.5%;*/
    visibility: hidden;
}

#myTable{
    visibility: hidden;
}

.tab-text h1{
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  line-height: 1.35em;
  color: inherit;
}

.tab-text h2{
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 1.35em;
  color: inherit;
}

.tab-text ul{
  text-align: start;
  padding: 0;
  list-style:none;
}

.tab-text ul li span{
  font-weight: bolder;
  color: orange;
}

.wtf{
  background: #fca503;
  padding: 0.35rem 1.75rem;
}

table tr{
  background-color: transparent;
  border: none;
  padding: 0;
}

.table-content-list{
  width: 6px;
}

table td{
  padding: 0;
  width: 38px;
}

.tab-text{
  padding: 5% 0px;
}

.tab-image{
  text-align: center;
  padding: 5% 0px;
}

.table-content{
  text-align: start;
}


/* ------------------------end-------------------------- */

/* header nav */
.navbar {
}

.bg-light {
  background-color: #ff9421c9 !important;
}
/* ------------------------end-------------------------- */
/* picture slider */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 70px;
  height: 70px;
}

/* ------------------------end-------------------------- */
/* GOOGLE MAP  */
/* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
@media (max-width: 1024px) {
  .map {
    height: 669px;
  }
}

#wrap {
  padding-bottom: 5%;
}

#map {
  height: 730px;
  box-shadow: 1px 1px 1px 2px rgba(20%, 20%, 40%, 0.5);
}

.map {
  width: 100%;
  padding: 0% 0% 1% 9%;
  height: 100%;
}

.parent {
  margin-top: 22px;
}

/* ------------------------end-------------------------- */

.list {
  margin-top: 0px;
}

.card {
  margin-left: 4%;
  margin-top: 50px;
  margin-right: 4%;
}

.link-facebook {
  position: fixed;
  top: 82%;
  right: 4%;
  z-index: 3000;
}

.link-menu {
  position: fixed;
  top: 89%;
  right: 4%;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s linear;
  z-index: 3000;
}

.link-facebook:hover,
span img:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

/* ------------------------end-------------------------- */
/* BRANDS */
@media (max-width: 767.98px) {
  .details-1 {
  }
}
/* @media (max-width: 425px){
 .details-1{
   margin-left: 12%;
 }
} */

.main-background {
  background: url("../img/brand-1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.main-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.breadcrumb-title {
  margin-left: 9%;
  padding: 2.5% 0%;
}

.profile {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 90%;
  max-width: 206px;
}

.details li img:hover {
  cursor: pointer;
}

.details ul {
  padding: 40px 11px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 2px rgba(20%, 20%, 40%, 0.5);
  width: 100%;
  min-height: 730px;
}

.brand {
  opacity: 0.6;
  padding: 0 15px;
}

.brand:hover {
  opacity: 1;
  transition: opacity 0.3s linear;
  transform: scale(1.04);
}

.brand a {
  font-size: 12px;
}

.slash {
  color: #f5a131;
  font-size: 15px;
}

/* ------------------------end-------------------------- */
@media (max-width: 991.98px) {
  .details {
    padding: 0 9%;
  }
}

.pad {
  padding-top: 10px;
}
/*----modelopen--*/
.model-open {
  padding-right: unset !important;
}


.modal-body{
  height: 535px;
  overflow-x: hidden;
  padding: 0px;
}

.bd-example-modal-lg {
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
}

.content-body,
.content-body-wrapper,
.content-body section,
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  color: #fff;
  background: #374046;
  overflow: hidden;
}

.content-body section {
  width: 400%;
}

.page {
  position: absolute;
  overflow-y: scroll;
}

.page img{
  max-height: 120px;
}

#p1 {
  left: 0;
  overflow-y: hidden;
}

#p2 {
  left: 100%;
  background: #ffa400;;
}

#p3 {
  left: 200%;
  background: #ffa400;;
}

#p4 {
  left: 300%;
  background: #ffa400;;
}

.content-body ul {
  position: fixed;
  z-index: 1;
}
#t1:target .page#p1 {
  transform: translateX(0);
}
#t2:target .page#p2 {
  transform: translateX(-90%);
}
#t3:target .page#p3 {
  transform: translateX(-190%);
}
#t4:target .page#p4 {
  transform: translateX(-290%);
}

#t2:target .page#p1,
#t3:target .page#p1,
#t4:target .page#p1 {
  background: black;
}

#t2:target .page#p1 .icon,
#t3:target .page#p1 .icon,
#t4:target .page#p1 .icon {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 32px;
  display: block;
}

.content-body ul .icon:hover {
  opacity: 0.6;
}

#p1 .icon .title {
  margin-bottom: 20px;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon {
  transform: scale(0.6);
  transition-delay: 0.25s;
}

#t2:target #dos {
  transform: scale(1.2) !important;
}

#t3:target #tres {
  transform: scale(1.2) !important;
}

#t4:target #cuatro {
  transform: scale(1.2) !important;
}

.content-body ul {
  position: fixed;
  /*top: 0;*/
  bottom: 42%;
  left: 0;
  /*right: 0;*/
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
  /*display: flex;*/
}

.content-body ul li {
  margin: 30px 0;
}

.content-body a {
  text-decoration: none;
  font-family: open sans, sans-serif;
}

.title,
.hint {
  font-family: open sans, sans-serif;
  display: block;
}

.title {
  font-size: 38px;
}

.hint {
  font-size: 13px;
}

.hint a {
  color: #efff06;
  transition: all 250ms easet-out;
}

.hint a:hover {
  color: #fff;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  transform: translateX(360%);
  line-height: 1.3;
}

.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(0) !important;
}

#t2:target .page#p2 .icon {
  transform: translateX(0) !important;
  transition-delay: 1s;
}

#t3:target .page#p3 .icon {
  transform: translateX(0) !important;
  transition-delay: 1s;
}

#t4:target .page#p4 .icon {
  transform: translateX(0) !important;
  transition-delay: 1s;
}

.credit {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}

.credit a {
  color: #fff;
}

.slide-top-item{
   margin-left: 10%;
   margin-top: 2%;
 }

.slide-bottom-item{
  margin-left: 10%;
  margin-top: 6%;
}

.slide-top-title{
  margin-bottom: 30px;
}

.close-button{
  height: 25px;
  background: #364045;
  padding-right: 11px;
  z-index: 9999;
}

.close-button button{
  color: white;
}