body {
  /* font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important; */
  font-family: Myriad Pro regular;
  /*background-image: url("../img/service-background.jpg");*/
  background-size: cover;
}
.listul a{
  color:#333333;
  font-size:18px;
}

iframe {
  width: 100%;
  height: 1300px;
  border: 0;
}

.product-cover img {
  width: 100%;
}

.categories a {
  width:100%;
}

.category-item {
  display: flex;
  justify-content: center;
  background-color: #dddcdc;
  text-decoration: none;
  color: black;
}

.category-item:hover {
  text-decoration: underline;
  background:#000000 !important;
  color:#fff;
  transition:all 0.3s linear;
}

.product .nav-link{
  color:#000
}
#Tyre select{
  height: 40px;
  width:100%;
  margin-right:5px;
  font-size: 18px;
}
.btn-tyre{
  border:1px solid #000;
  border-radius: 7px;
  background:#f9a11b;
  margin-bottom: 5px;
  color:#fff;
  width:50%;
}
#Rim select{
  height: 40px;
  width:100%;
  margin-right:5px;
  font-size: 18px;
}
.btn-rim{
  border:1px solid #000;
  border-radius: 7px;
  background:#f9a11b;
  margin-bottom: 5px;
  color:#fff;
  width:50%;
}
.d-f{
  display:flex;
}
#RimMain{
  display: block;
  text-align: center;
  margin:10px 0px 20px 0px;
}
#tyreMain{
  display: block;
  text-align: center;
  margin:10px 0px 20px 0px;
}
.tyreClass{
  display:inline-block;
  width:49%;
  margin-top:5px;
  text-align:left;
  border-radius: 10px;
}
.imgtyrecontainer{
  width:30%;
  padding:10px 20px;
}
.contenttyrecontainer{
  width:100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:0px 10px 0px 0px;
}
.imgrim{
  max-width: 300px;
  cursor:zoom-in;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.imgtyre{
  max-width: 140px;
  cursor:zoom-in;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#tyrepagination .page-item.active .page-link{
  background:#f9a11b;
  border:1px solid #f9a11b;
}
#tyrepagination :focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f9a11b ;
}
#tyrepagination .page-item :hover{
  background:#f9a11b;
  color:#fff;
}

.tyreClass .title{
  font-size: 20px;
  font-weight: 800;
  line-height: 120%;
    padding: 10px 0;
}
.tyrebutton{
  display: flex;
  justify-content: flex-end;
}
.tyreCheck{
  margin:8px 0px;
  background:#f9a11b;
  border-radius:10px;
  border: 1px solid #000;
  padding: 4px 10px;
  color:#fff;
  width: 120px;
  cursor: pointer;
}
.popover-body ul{ 
   margin:0;
   padding: 0 0 0 15px;
  list-style-type: decimal;
}
.popover-body{
  background:#808080;
  color:#fff;
}
.RimClass{
  display:inline-block;
  width:49%;
  margin-top:5px;
  text-align:left;
  border-radius: 10px;
}
.imgrimcontainer{
  width:100%;
  margin-right:10px;
}
.contentrimcontainer{
  width:100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding:0px 10px 0px 0px;
}
.contentAccessoriescontainer{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px 10px 0px 0px;
}
.RimCheck{
  margin:8px 0px;
  background:#f9a11b;
  border-radius:10px;
  border: 1px solid #000;
  padding: 4px 10px;
  color:#fff;
  width: 80px;
  cursor: pointer;
}
.RimCheck:focus{
  outline:3px auto #f9a11b;
}
.Rimbutton{
  display: flex;
  justify-content: flex-end;
}
.popover-header{
  background:#f9a11b;
  color:#fff;
  padding: .5rem .75rem;
  border-bottom:0px;
}
.bs-popover-right .arrow::after{
  border-right-color:#808080;
}
.bs-popover-left .arrow::after{
  border-left-color:#808080;
}
#Rimpagination .page-item.active .page-link{
  background:#f9a11b;
  border:1px solid #f9a11b;
}
#Rimpagination :focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f9a11b ;
}
#Rimpagination .page-item :hover{
  background:#f9a11b;
  color:#fff;
}
.RimClass .title{
  font-size: 20px;
  font-weight: 800;
  line-height: 100%;
  padding: 10px 0;
}

.RimClass .content{
  line-height: 120%;
  padding: 8px 0;
}

.hidden{
  display:none;
}
#Accessories select{
  height: 40px;
  width:50%;
  margin-right:5px;
  font-size: 18px;
}
.Accessoriescontainer{
  width:50%;
  margin-right:10px;
}
#AccessoriesMain .title{
  font-size:18px;
  font-weight:500;
  line-height: 120%;
    padding: 10px 0;
}
#AccessoriesMain{
  display: block;
  text-align: center;
  margin:10px 0px 20px 0px;
}
.AccessoriesClass{
  display:inline-block;
 width: 49%;
  margin-right:5px;
  margin-top:5px;
  text-align:left;
  border-radius: 10px;
}
.Accessoriesrim{
  padding: 10px;
}
.btn-Accessories{
  border:1px solid #000;
  border-radius: 7px;
  background:#f9a11b;
  margin-bottom: 5px;
  color:#fff;
}
#Accessoriespagination .page-item.active .page-link{
  background:#f9a11b;
  border:1px solid #f9a11b;
}
#Accessoriespagination :focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #f9a11b ;
}
#Accessoriespagination .page-item :hover{
  background:#f9a11b;
  color:#fff;
}
@media screen and (max-width:998.98px){
  .imgtyrecontainer{
    width:49%;
  }

}
@media screen and (max-width:768.98px){
  .RimClass{
    display:inline-block;
    width:49%;
    max-width:100%
  }
  .paddingdisable{
    padding:0 !important;
  }
}
@media screen and (max-width:568.98px){
  .RimClass{
    display:block;
    width:100%;
    max-width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-top:15px;
  }
  .tyreClass{
    display:block;
    width:100%;
    max-width:100%;
    margin-left:0px;
    margin-right:0px;
    margin-top:15px;
  }
  .AccessoriesClass{
    width: 100%;
  }
  .imgtyrecontainer{
    text-align: center;
    width:100%;
    background:linear-gradient(to bottom,#000 0,#000 20%,#363636 40%,#000 80%,#000 100%);
  }
  .contenttyrecontainer{
    padding: 5px 10px 0px 10px;
  }
  .btn-rim{
    width:100%;
    height:28px;
    font-size:8px !important;
  }
  .btn-tyre{
    width:100%;
    height:28px;
    font-size:8px !important;
  }

  .d-f{
    display:block;
  }
  
  #Tyre select{
    margin-bottom:8px;
    height:28px;
  }

  #Rim select{
    margin-bottom:8px;
    height:28px;
  }

  #Accessories select{
    margin-bottom:8px;
    height:28px;
    width:100%;
  }

  .imgrim{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
  .contentrimcontainer{
    justify-content: flex-start;
    padding:8px
  }
  .contentAccessoriescontainer{
    justify-content: flex-start;
    padding:8px
  }
  .btn-Accessories{
    width:100%;
    height:28px;
    font-size:8px !important;
  }
  #AccessoriesMain .title{
    font-size:16px;
  }
}

@media screen and (max-width:650px){
  .category-item img{
    width:9vw;
    max-height:60px !important;
  }
  .category-item p {
    font-size:3vw !important
  }
  .category-item{
    height:100%
  }
}

.category-item img {
  max-height: 70px;  
}

.category-item p {
  font-size: 25px;
  font-weight: bold;
}


.dropdown-menu {
  background-color: #302d2c;
}

.dropdown-menu a{
  color: #ffffff;
  width: unset;
}

.dropdown-menu a:hover {
  background-color: #ef8914 !important;

}

.details-block {
  width: 450px;
  padding: 21px;
}

.details-block h3 {
  color: #f5a131;
}

.details-block h4 {
  color: #ffffff;
}

.is-active {
  pointer-events: none;
  background-color: #d4d5d5;
}

.mark-title {
  font-size: 41px;
  font-weight: bold;
  margin: 4vw 9vw 2vw;
}

.mark-sub-title {
  font-size: 21px;
  font-weight: bold;
  color: #474645;
  margin: 9vw;
}

.product-search-filter select {
  width: 100%;
  height: 24px;
  border-radius: 5px;
  border: solid 1.5px #d4d5d5;
  font-weight: bold;
  color: #828081;
  font-size: 19px;
}

.product-search-filter button {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  background-color: #ef8914;
  font-weight: bold;
  font-size: 19px;
}

.product-item {
  margin-top: 30px;
}

.product-item .card{
  margin: 1%;
  padding: 0;
  /*max-height: 171px;*/
}

.product-item .card-img-top {
  /*max-width: 30%;*/
  max-width: 100px;
  max-height: 100px;
}

.card-text h3 {
  font-size: 22px;
  font-weight: bold;
}

.card-text button {
  border-radius: 3px;
  background-color: #ef8914;
  font-weight: bold;
  font-size: 12px;
  width: 115px;
  color: white;
  margin-top: 23px;
}
@media screen and (max-width: 991.78px){
  /* .category-item p{
    font-size:20px;
  } */
}
@media screen and (max-width: 767.98px) {

 .mark-sub-title, .product-search-filter select, .product-search-filter button {
    font-size: 3vw;
  }

  .mark-title {
    font-size: 4vw;
  }

  .product-item .card{
    max-height: unset;
  }

  .card-text h3 {
    font-size: 20px;
  }

  .card-text p, .card-text button {
    font-size: 14px;
  }

  .details-block {
    width: 308px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .space-filter {
    padding: 0;
  }

  .product-search-filter select {
    width: 17vw;
    height: 48px;
  }

  .product-search-filter button {
    width: 14vw;
    height: 48px;
  }
}

.page-nav {
  margin: 40px;
}

.current {
  color: #bb5d0b !important;
}

.page-item .content {
  border: 0;
}


#ins {
  min-width: 1024px !important;
}

.iframe-class {
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}
/* nav sidebar */

.alt-nav span {
  float: right;
}

.alt-nav ul {
  margin: 0;
  padding: 0;
}

.alt-nav li {
  list-style: none;
  width: 86%;
}

.alt-nav a {
  text-decoration: none !important;
  display: block;
  background-color: #ff9933;
  color: black;
  border-bottom: 4px solid #333333;
  padding: 10px;
}

.alt-nav .active-click > a,
.alt-nav a:hover {
  color: #fff;
}

.active-choose{
    background-color: bisque;
    transform: scale(1.05);
}

/* Alternative Sub Menu */
.list-group-item {
  border: 0.5px solid rgb(255, 141, 0);
  padding: 0;
}

#startUp li ,#car li , #access li{
    cursor: pointer;
}

.alt-nav {
  line-height: 2.2em;
}

.alt-nav ul ul {
  display: none;
  box-shadow: 6px 6px 37px grey;
}

.alt-nav li li {
  margin-bottom: 0;
  width: 100%;
  padding: 4px 0px 4px 20px;
}

.alt-nav li li a {
  background-color: #fff;
  padding-left: 30px;
}

.alt-nav li li a:hover {
  background-color: #ececec;
  text-decoration: underline;
  color: #617140;
}

.space {
  height: 14px;
}

.hot {
  margin-top: 140px;
  margin-bottom: 50px;
  width: 86%;
  margin-left: -15px;
}

.hot a {
  text-decoration: none !important;
  display: block;
  background-color: #ff9933;
  color: black;
  border-bottom: 1px solid #b2b5ab;
  padding: 10px;
  margin-right: -3px;
}

.hot a:hover {
  color: black;
}

.hot ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2.2em;
  width: 101%;
  box-shadow: 6px 6px 37px grey;
}

.list-group-item img {
  padding: 5px;
  width: 115px;
  height: 108px;
  float: left;
}

.list-group ul {
  margin-top: 6px;
}

.list-group li li {
  border: none;
  margin: 5px;
}

.sidebar {
  margin-top: 0px;
  margin-left: -15px;
}

#change {
  opacity: 1;
  transition: 1s opacity;
  margin-top: -65px;
}

/*@media (min-width: 576px) {*/
/*.card-deck {*/
  /*-webkit-box-orient: horizontal;*/
  /*-webkit-box-direction: normal;*/
  /*-ms-flex-flow: row wrap;*/
  /*flex-flow: row wrap;*/
  /*margin-right: -15px;*/
  /*margin-left: -15px;*/
/*}*/
/*}*/

/*.card-deck {*/
  /*margin-left: -70px;*/
  /*margin-right: 20px;*/
  /*flex-direction: inherit;*/
/*}*/

/*.card-deck .card {*/
  /*border: none;*/
  /*margin-left: 34px;*/
  /*margin-right: 34px;*/
  /*background-color: #f9f9f900;*/
  /*width: 100%;*/
/*}*/

/*.card-deck .card:hover{*/
  /*!*z-index: 0;*!*/
  /*!*transform: scale(1.05);*!*/
/*}*/

/*.card-body:hover {*/
  /*!*box-shadow: 8px 12px 5px grey;*!*/
/*}*/

/*.card-deck .card img {*/
  /*cursor: pointer;*/
  /*transition: all 0.3s;*/
  /*height: 155px;*/
  /*box-shadow: 7px 7px 8px grey;*/
  /*max-width: 300px;*/
  /*min-width: 150px;*/
  /*border-top-left-radius: 12px;*/
  /*border-top-right-radius: 12px;*/
/*}*/

/*.card-deck .accossories img {*/
  /*height: 200px;*/
  /*width: 200px;*/
/*}*/

/*.card-deck .card img:hover {*/
  /*transform: scale(1.1);*/
/*}*/

/*.card-text{*/
  /*font-size:14px;*/
/*}*/

/*.card-img-top {*/
  /*width: 130%;*/
  /*min-width: 180px;*/
/*}*/

/*.card-body {*/
  /*padding: 1.25rem 1rem;*/
  /*background-color: #ffffff94;*/
  /*width: 130%;*/
  /*max-width: 300px;*/
  /*min-width: 151px;*/
  /*border-bottom-left-radius: 12px;*/
  /*border-bottom-right-radius: 12px;*/
/*}*/

.numeric {
  height: 15px;
}

.numeric p {
  font-size: larger;
}

.page-selected{
    color: #ff9933;
}

.arrow {
  border: 0px solid #a0a2a5;
}

.arrow .page-link:hover {
  background-color: white;
  color: #ff9933;
  border: 1px solid #ff9933;
}

.custom {
  margin: 2% 0px 2% -3%;
}

.page-link {
  color: black;
}

.page-item span:hover {
  color: #ff9933;
  background-color: white;
}


.product-white {
  background-color: #f5f5f5 !important;
}