body {
  /* font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important; */
  font-family: Myriad Pro regular;
  /*background-image: url("../img/service-background.jpg");*/
  background-size: cover;
}

iframe {
  width: 100%;
  height: 1300px;
  border: 0;
}

#loading
{
  position:fixed;
  top:40%;
  left:45%;
  z-index:9999;
}

.product-cover img {
  width: 100%;
}

.categories a {
  width: 27vw;
}

.category-item {
  display: inline-flex;
  justify-content: center;
  background-color: #dddcdc;
  margin-top: 10%;
  width: 100%;
  text-decoration: none;
  color: black;
}

.category-item:hover {
  text-decoration: underline;
}

.category-item img {
  width: 30%;
  height: 8vw;
}

.category-item p {
  font-size: 28px;
  font-weight: bold;
  line-height: 3;
}


.dropdown-menu {
  background-color: #302d2c;
}

.dropdown-menu a{
  color: #ffffff;
  width: unset;
}

.dropdown-menu a:hover {
  background-color: #ef8914 !important;

}

.details-block {
  width: 450px;
  padding: 21px;
}

.details-block h3 {
  color: #f5a131;
}

.details-block h4 {
  color: #ffffff;
}

.is-active {
  pointer-events: none;
  background-color: #d4d5d5;
}

.mark-title {
  font-size: 41px;
  font-weight: bold;
  margin: 4vw 9vw 2vw;
}

.mark-sub-title {
  font-size: 21px;
  font-weight: bold;
  color: #474645;
  margin: 9vw;
}

.product-search-filter {

}

.product-search-filter select {
  width: 100%;
  height: 24px;
  border-radius: 5px;
  border: solid 1.5px #d4d5d5;
  font-weight: bold;
  color: #828081;
  font-size: 19px;
}

.product-search-filter select option {

}

.product-search-filter button {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  background-color: #ef8914;
  font-weight: bold;
  font-size: 19px;
}

.product-item {
  margin-top: 30px;
}

.product-item .card{
  margin: 1%;
  padding: 0;
  /*max-height: 171px;*/
}

.product-item .card-img-top {
  /*max-width: 30%;*/
  max-width: 100px;
  max-height: 100px;
}

.card-text h3 {
  font-size: 22px;
  font-weight: bold;
}

.card-text button {
  border-radius: 3px;
  background-color: #ef8914;
  font-weight: bold;
  font-size: 12px;
  width: 115px;
  color: white;
  margin-top: 23px;
}

@media screen and (max-width: 767px) {

  .category-item p, .mark-sub-title, .product-search-filter select, .product-search-filter button {
    font-size: 3vw;
  }

  .mark-title {
    font-size: 4vw;
  }

  .product-item .card{
    max-height: unset;
  }

  .card-text h3 {
    font-size: 20px;
  }

  .card-text p, .card-text button {
    font-size: 14px;
  }

  .details-block {
    width: 308px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .space-filter {
    padding: 0;
  }

  .product-search-filter select {
    width: 17vw;
    height: 48px;
  }

  .product-search-filter button {
    width: 14vw;
    height: 48px;
  }
}

.page-nav {
  margin: 40px;
}

.current {
  color: #bb5d0b !important;
}

.page-item .content {
  border: 0;
}


#ins {
  min-width: 1024px !important;
}

.iframe-class {
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}
/* nav sidebar */

.alt-nav span {
  float: right;
}

.alt-nav ul {
  margin: 0;
  padding: 0;
}

.alt-nav li {
  list-style: none;
  width: 86%;
}

.alt-nav a {
  text-decoration: none !important;
  display: block;
  background-color: #ff9933;
  color: black;
  border-bottom: 4px solid #333333;
  padding: 10px;
}

.alt-nav .active-click > a,
.alt-nav a:hover {
  color: #fff;
}

.active-choose{
    background-color: bisque;
    transform: scale(1.05);
}

/* Alternative Sub Menu */
.list-group-item {
  border: 0.5px solid rgb(255, 141, 0);
  padding: 0;
}

#startUp li ,#car li , #access li{
    cursor: pointer;
}

.alt-nav {
  line-height: 2.2em;
}

.alt-nav ul ul {
  display: none;
  box-shadow: 6px 6px 37px grey;
}

.alt-nav li li {
  margin-bottom: 0;
  width: 100%;
  padding: 4px 0px 4px 20px;
}

.alt-nav li li a {
  background-color: #fff;
  padding-left: 30px;
}

.alt-nav li li a:hover {
  background-color: #ececec;
  text-decoration: underline;
  color: #617140;
}

.space {
  height: 14px;
}

.hot {
  margin-top: 140px;
  margin-bottom: 50px;
  width: 86%;
  margin-left: -15px;
}

.hot a {
  text-decoration: none !important;
  display: block;
  background-color: #ff9933;
  color: black;
  border-bottom: 1px solid #b2b5ab;
  padding: 10px;
  margin-right: -3px;
}

.hot a:hover {
  color: black;
}

.hot ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2.2em;
  width: 101%;
  box-shadow: 6px 6px 37px grey;
}

.list-group-item img {
  padding: 5px;
  width: 115px;
  height: 108px;
  float: left;
}

.list-group ul {
  margin-top: 6px;
}

.list-group li li {
  border: none;
  margin: 5px;
}

.sidebar {
  margin-top: 0px;
  margin-left: -15px;
}

#change {
  opacity: 1;
  transition: 1s opacity;
  margin-top: -65px;
}

/*@media (min-width: 576px) {*/
/*.card-deck {*/
  /*-webkit-box-orient: horizontal;*/
  /*-webkit-box-direction: normal;*/
  /*-ms-flex-flow: row wrap;*/
  /*flex-flow: row wrap;*/
  /*margin-right: -15px;*/
  /*margin-left: -15px;*/
/*}*/
/*}*/

/*.card-deck {*/
  /*margin-left: -70px;*/
  /*margin-right: 20px;*/
  /*flex-direction: inherit;*/
/*}*/

/*.card-deck .card {*/
  /*border: none;*/
  /*margin-left: 34px;*/
  /*margin-right: 34px;*/
  /*background-color: #f9f9f900;*/
  /*width: 100%;*/
/*}*/

/*.card-deck .card:hover{*/
  /*!*z-index: 0;*!*/
  /*!*transform: scale(1.05);*!*/
/*}*/

/*.card-body:hover {*/
  /*!*box-shadow: 8px 12px 5px grey;*!*/
/*}*/

/*.card-deck .card img {*/
  /*cursor: pointer;*/
  /*transition: all 0.3s;*/
  /*height: 155px;*/
  /*box-shadow: 7px 7px 8px grey;*/
  /*max-width: 300px;*/
  /*min-width: 150px;*/
  /*border-top-left-radius: 12px;*/
  /*border-top-right-radius: 12px;*/
/*}*/

/*.card-deck .accossories img {*/
  /*height: 200px;*/
  /*width: 200px;*/
/*}*/

/*.card-deck .card img:hover {*/
  /*transform: scale(1.1);*/
/*}*/

/*.card-text{*/
  /*font-size:14px;*/
/*}*/

/*.card-img-top {*/
  /*width: 130%;*/
  /*min-width: 180px;*/
/*}*/

/*.card-body {*/
  /*padding: 1.25rem 1rem;*/
  /*background-color: #ffffff94;*/
  /*width: 130%;*/
  /*max-width: 300px;*/
  /*min-width: 151px;*/
  /*border-bottom-left-radius: 12px;*/
  /*border-bottom-right-radius: 12px;*/
/*}*/

.numeric {
  height: 15px;
}

.numeric p {
  font-size: larger;
}

.page-selected{
    color: #ff9933;
}

.arrow {
  border: 0px solid #a0a2a5;
}

.arrow .page-link:hover {
  background-color: white;
  color: #ff9933;
  border: 1px solid #ff9933;
}

.custom {
  margin: 2% 0px 2% -3%;
}

.page-link {
  color: black;
}

.page-item span:hover {
  color: #ff9933;
  background-color: white;
}


.product-white {
  background-color: #f5f5f5 !important;
}